@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#nav {
    height: 5.5%;
    width: 100%;
    background-color: #ffffffd9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
    font-weight: 100;
    padding: 5px;
    position: sticky;
    top: 0;
}

#nav a {
    color: #000;
    text-decoration: none;
}

#center {
    color: #ffffff;
    height: 88%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 55px;
    margin-bottom: 10px;
}

#center h4 {
    font-size: 60px;
    font-weight: 600;
}

#center h5 {
    font-size: 30px;
    font-weight: 300;
}

.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.Buttons .Learn {
    color: #fff;
    font-size: 20px;
    padding: 13px 20px;
    border-radius: 50px;
    border: 1px solid rgb(0, 119, 237);
    background-color: rgb(0, 119, 237);
}

.Buttons .Buy {
    background-color: transparent;
    color: rgb(0, 119, 237);
    font-size: 20px;
    padding: 13px 23px;
    border-radius: 50px;
    border: 1px solid rgb(0, 119, 237);
    cursor: pointer;

}

.Buy:hover {
    color: #fff;
    background-color: rgb(0, 119, 237);
}

#Air {
    height: 88%;
    width: 100%;
    text-align: center;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
    border: 2px black;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

#Air h2 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1px;
}

#text h6 {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 30px;
}